@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  height: 5000px;
}

header {
  height: 5000px;
  overflow: hidden;
}

.row1 {
  height: 5000px;
}

.row1.first-page {
  height: 5000px;
  background-attachment: fixed;
  background-color: #ffd948;
  overflow: hidden;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.row1.first-page.core {
  height: 5000px;
  background-attachment: fixed;
  background-color: #ffd42d;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.row2 {
  position: relative;
  height: 800px;
  width: 100%;
}

.nav__bar {
  position: relative;
  top: 2%;
  padding: 30px 3%;
  z-index: 100;
}

.nav__links {
  position: absolute;
  top: 35%;
  list-style: none;
  width: 700px;
  left: 50%;
  -webkit-transform: translate(-195px, 0%);
          transform: translate(-195px, 0%);
}

.nav__links li {
  color: black;
  display: inline-block;
  padding: 0px 20px;
  opacity: 0;
}

.nav__links li.is-landing {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
}

.nav__links li.is-unlanding {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 0;
}

.nav__links li a {
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: white;
  background-image: url("../img/bacon.svg");
  background-transform: scale(0.2);
  background-repeat: repeat-x;
}

.nav_dropdown {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  padding: 0.6em;
  display: none;
  left: 80%;
}

.modal {
  z-index: 200000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  height: 90%;
  background-color: #ffffff;
  margin: 5% auto;
  padding: 20px;
  width: 90%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 black;
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 black;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  padding: 0;
}

.modal-footer {
  display: block;
  background-color: #F7F7F7;
  height: 40%;
  width: 100%;
  border: none;
  padding: 0;
}

.modal-title {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  padding: 30px;
}

.closeBtn {
  color: #cccccc;
  position: relative;
  right: -90%;
  font-size: 30px;
}

.closeBtn:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

button {
  position: absolute;
  left: 88%;
  top: -500%;
  padding: 9px 25px;
  color: black;
  border: none;
  background-color: #ffd42d;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

button.is-showing {
  top: 30%;
}

button.got-out {
  top: -500%;
}

button:hover {
  color: white;
}

li, a, button {
  font-weight: 500;
  font-size: 13px;
  font-color: #edf0f1;
  font-text-decoration: none;
}

.nike {
  position: fixed;
  height: 50px;
  width: auto;
  cursor: pointer;
  left: 5%;
  top: 5%;
  z-index: 200;
}

.figures {
  height: 100%;
  width: 100%;
  background-image: url(../img/figures.png);
  background-size: auto 900px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  top: -15%;
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.figures.is-appearing {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.figures.is-dissapearing {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.logo {
  height: 100%;
  width: 100%;
  background-image: url(../img/logo.png);
  background-position: top center;
  background-size: auto 320px;
  background-repeat: no-repeat;
  position: relative;
  top: 35%;
}

.row3 {
  height: 450px;
  width: 100%;
  background-color: #ffd42d;
  background-size: auto auto;
}

.container-fluid {
  padding: 0px;
}

@media (max-width: 797px) {
  body-padding-left: 0px;
  body-padding-right: 0px;
}

@media only screen and (max-width: 768px) {
  .figures {
    background-size: auto 800px;
    top: -10%;
  }
  .logo {
    background-size: auto 300px;
  }
  .row1 {
    height: 1024px;
  }
  button {
    left: 85%;
  }
}

@media only screen and (max-width: 320px) {
  .figures {
    background-size: auto 500px;
    top: 8%;
  }
  .logo {
    background-size: auto 200px;
    top: 15%;
  }
  .nav_dropdown {
    display: block;
  }
  .nav__links {
    display: none;
  }
  .nav_modal {
    position: static;
    padding-left: 40%;
    list-style-type: none;
    line-height: 3em;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .nav_modal li {
    display: block;
    font-size: 4em;
    font-weight: 500;
  }
  .nav_modal li a {
    color: black;
    font-size: 0.3em;
    font-weight: bold;
  }
  .cta {
    display: none;
  }
}

@-webkit-keyframes modalopen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalopen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=layout1.css.map */