body 
    font-family: sectra
    height: 5000px

header
    height: 1200px
    overflow: hidden

.figures
    height: 800px
    background:
        image: url(../img/figures.png)
        size: auto 500px
        position: top center
        attachment: fixed
        repeat: no-repeat

    
.row1
    height: 800px
    background:
        attachment: fixed
        color: #ffd948
    overflow: hidden

.row2
    height: 350px
    width: 100%
    background:
        attachment: fixed
        color: #ffd42d
        size: auto auto

.logo
    height: 800px
    width: 1900px
    background:
        image: url(../img/logo.png)
        position: top center
        size: auto 220px
        repeat: no-repeat
        attachment: fixed
    position: absolute
    margin-top: 170px
    

.textlogo
    height: 300px
    color: #fff
    font:
        size: 50px
    background:
        attachment: fixed
    position: absolute
    height: 800px
    top: 27%
    left: 43%

.container-fluid
    padding: 0px

@media (max-width: 797px)
    body:
        padding-left: 0px
        padding-right: 0px


    