@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

body 
    font-family: 'Montserrat', sans-serif
    height: 5000px

header
    height: 1300px
    overflow: hidden

.nav__bar
    display: flex
    justify-content: space-between
    //align-items: center
    padding: 30px 3% 

.nav__links
    list-style: none
    align-self: center
    li 
        color: black
        display: inline-block
        padding: 0px 20px
        transition: all 0.3s ease 0s
        a
            color: black
            transition: all 0.3s ease 0s
        a:hover
            color: white
            background:
                image: url("../img/bacon.svg")
                transform: scale(0.2)
                repeat: repeat-x

button
    padding: 9px 25px
    color: black
    border: none
    background:
        color: #ffd42d
    cursor: pointer
    transition: all 0.3s ease 0s

button:hover
    color: white


.nike
    height: 50px
    width: auto
    cursor: pointer

li, a, button
    font:
        weight: 500
        size: 13px
        color: #edf0f1
        text-decoration: none

.figures
    height: 100%
    width: 100%
    background:
        image: url(../img/figures.png)
        size: auto 700px
        position: top center
        repeat: no-repeat
    position: relative
    top: 0%
    opacity: 1
    transform: scale(1.0)
    transition: all 0.5s ease

    &.is-dissapearing
        opacity: 0
        transform: scale(0.9)

    
.row1
    height: 972px
    background:
        attachment: fixed
        color: #ffd948
    overflow: hidden

.row2
    position: relative
    height: 800px
    width: 100%


.row3
    height: 450px
    width: 100%
    background:
        color: #ffd42d
        size: auto auto

.logo
    height: 100%
    width: 100%
    background:
        image: url(../img/logo.png)
        position: top center
        size: auto 220px
        repeat: no-repeat
    position: relative
    top: 15%



.container-fluid
    padding: 0px

@media (max-width: 797px)
    body:
        padding-left: 0px
        padding-right: 0px

@media only screen and (max-width : 768px)
    .figures
        background:
            size: auto 450px
        top: 17%
    .logo
        background:
            size: auto 180px
    .row1
        height: 1024px
        
@media only screen and (max-width : 320px)
    .figures
        background:
            size: auto 300px
        top: 31%
    .logo
        background:
            size: auto 140px
        top: 8%
        
        

    
    