@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  height: 5000px;
}

header {
  height: 5000px;
  overflow: hidden;
}

.nav__bar {
  position: relative;
  top: 2%;
  padding: 30px 3%;
  z-index: 100;
}

.nav__links {
  position: absolute;
  top: 35%;
  list-style: none;
  left: 39%;
}

.nav__links li {
  color: black;
  display: inline-block;
  padding: 0px 20px;
  opacity: 0;
}

.nav__links li.is-landing {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
}

.nav__links li.is-unlanding {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 0;
}

.nav__links li a {
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: white;
  background-image: url("../img/bacon.svg");
  background-transform: scale(0.2);
  background-repeat: repeat-x;
}

button {
  position: absolute;
  left: 92%;
  top: -500%;
  padding: 9px 25px;
  color: black;
  border: none;
  background-color: #ffd42d;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

button.is-showing {
  top: 30%;
}

button.got-out {
  top: -500%;
}

button:hover {
  color: white;
}

.nike {
  position: fixed;
  height: 50px;
  width: auto;
  cursor: pointer;
  left: 5%;
  top: 5%;
  z-index: 200;
}

li, a, button {
  font-weight: 500;
  font-size: 13px;
  font-color: #edf0f1;
  font-text-decoration: none;
}

.figures {
  height: 100%;
  width: 100%;
  background-image: url(../img/figures.png);
  background-size: auto 900px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  top: -15%;
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.figures.is-appearing {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.figures.is-dissapearing {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.row1 {
  height: 5000px;
}

.row1.first-page {
  height: 5000px;
  background-attachment: fixed;
  background-color: #ffd948;
  overflow: hidden;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.row1.first-page.core {
  height: 5000px;
  background-attachment: fixed;
  background-color: #ffd42d;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.row2 {
  position: relative;
  height: 800px;
  width: 100%;
}

.row3 {
  height: 450px;
  width: 100%;
  background-color: #ffd42d;
  background-size: auto auto;
}

.logo {
  height: 100%;
  width: 100%;
  background-image: url(../img/logo.png);
  background-position: top center;
  background-size: auto 320px;
  background-repeat: no-repeat;
  position: relative;
  top: 35%;
}

.container-fluid {
  padding: 0px;
}

@media (max-width: 797px) {
  body-padding-left: 0px;
  body-padding-right: 0px;
}

@media only screen and (max-width: 768px) {
  .figures {
    background-size: auto 800px;
    top: -10%;
  }
  .logo {
    background-size: auto 300px;
  }
  .row1 {
    height: 1024px;
  }
  .nav__links {
    left: 25%;
  }
  button {
    left: 85%;
  }
}

@media only screen and (max-width: 320px) {
  .figures {
    background-size: auto 500px;
    top: 8%;
  }
  .logo {
    background-size: auto 200px;
    top: 15%;
  }
}
/*# sourceMappingURL=style.css.map */